
<div class="row">
    <div class="col-4">
        <h4>Summoner Profile</h4>
        <div style="background-color: darkgoldenrod;">
            <div>Id: {{summoner?.id}}</div>
            <div>AccountId: {{summoner?.accountId}}</div>
            <div>Puuid: {{summoner?.puuid}}</div>
            <div>Name: {{summoner?.name}}</div>
            <div>ProfileIcon: {{summoner?.profileIconId}}</div>
            <div>SummonerLevel: {{summoner?.summonerLevel}}</div>
        </div>
    </div>
    <div class="col-6">
        <h4>Match Histroy</h4>
        <div>
            <div *ngFor="let match of listMatches">
                <div style="border: black solid 0.5px" id="match-column">
                    <h4>{{ match.champion }}</h4>
                    <div>{{ match.role }}</div>
                    <div>{{ match.lane }}</div>
                    <div>{{ match.season }}</div>
                    <div>{{ match.gameId }}</div>
                    <button>more info</button>
                </div>
            </div>
        </div>
    </div>
</div>
