
/* Ovo ce se urediti puno bolje kasnije kada se implementira funkcionalnost aplikacije */
#searchBarForm{
    width: 380px;
    height: 50px;

    /* this way we center our element in the middle */
    position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
  	
	margin: auto;
}

#searchBarInput{
    width: 380px;
    height: 50px;
}

#searchBtn{
    margin-left: 100px;
}