<!-- HOME COMPONENT -->

<form id="searchBarForm">
    <input #sumName id="searchBarInput" type="text" placeholder="Search For Your League of Legends Username"> <br> <br>
    <button (click)="loadSummonerProf(sumName.value)" id="searchBtn" class="btn btn-primary">Search For Username</button>
</form>

